<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Travel App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap" rel="stylesheet">
    <!-- <link href="./css/styles.css" rel="stylesheet"> -->
  </head>
  <body>
    <header>
          <h1>Travelplanner</h1>
    </header>
    <main>
      <form class="grid-container">
        <div class="label">
          <label class="" for="city">to</label>
        </div>

        <div class="label-2">
          <label class="one-thirds--label2" for="travel-date">departure</label>
        </div>

        <div class="city">
          <input class="" placeholder="City" type="text" name="city" id="city">
        </div>

        <div class="country">
          <input class="" placeholder="Country" type="text" name="country" id="country">
        </div>

        <div class="date">
          <input class="" placeholder="dd/mm/yyyy" type="date" name="travel-date" id="travel-date">
        </div>

        <div class="send">
          <button class="btn btn--primary" id="submit-form">Send</button>
        </div>
      </form>

      <div class="response-wrapper md-comment">
        <div class="one-half">
          <div id="location-img"></div>
        </div>

        <div class="two-thirds">
          <h2>Your trip</h2>
          <div id="date-info"></div>

          <div class="weather-wrapper">
            <div id="weather-info" class="temp-info"></div>
            <div id="weather-icon" class="icon-info"><div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <footer>
      <ul>
          <li>
          <p>Made by Yulia | Project by udacity</p>
        </li>
        <li>
          <a href="https://pixabay.com/">
            <img src="https://pixabay.com/static/img/public/medium_rectangle_a.png" alt="Pixabay">
          </a>
        </li>
      </ul>
    </footer>
    <!-- display url and logo from pixabay -->
    </main>
  </body>
</html>