body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 60px;
    grid-template-areas:
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: ft;
}

.footer--link {
    &:hover {
        color: $color-secondary-light ;
    }
}


a {
    text-decoration: none;
	transition-duration: 0.4s;
}

a:link {
	color: $color-black;
	border-bottom: solid 2px $color-secondary;
}

a:hover {
	color: $color-black;
	border-bottom: solid 2px $color-black;
}

a:visited {
	color: $color-black;
	border-bottom: solid 2px $color-secondary-light;
}

a:active {
	color: $color-secondary;
	border-bottom: solid 2px $color-black;
}

p {
    font-size: 1.2em;
    color: white;
    line-height: 1.3;
    padding-bottom: 0.5em;
    padding-top: 1em;
}
