footer {
    display: flex;
    justify-content: center;    
    padding: 20px 40px;
    height: auto;

    ul li {
        list-style-type: none;
        display: inline-block;

        a img {
            max-width: 30px;
        }
    }


}