main {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

form {
    background-color: $color-primary;
    border: solid 4px #918beb;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto;
    gap: 20px;

    label {
        display: block;
    }

    input {
        width: 100%;
        border-radius: 27px;
    }
}

.full-width {
grid-column: 1/3;
}

input, textarea {
    background-color: $color-white;
    border: solid 4px #918beb;
    height: 2.8rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem 0.5rem 0;
    font-size: 1rem;
    font-family: 'Roboto Mono', sans-serif;
}

::placeholder, input[type="text"] {
    font-family: 'Roboto Mono', sans-serif;
    color: $color-black;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1rem;
    color: #173b4a;
    border-bottom: solid 2px #918beb;
    cursor: pointer;
    text-align: center;
}

.btn {
    text-decoration: none;
    text-align: center;
    border-radius: 27px;
    border: 0;
    margin-top: 0.6rem;
    padding: 0.7rem 1rem 0.6rem 1rem;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;
}

.btn--primary {
    background-color: $color-secondary;
    color: $color-white;

    &:hover {
        background-color: #918beb;
        color: #173b4a;
    }
}

.badge {
    background-color: #ffe2d1;
    color: black;
    border-radius: 27px;
    padding: 1rem;
    width: -webkit-fit-content;
    display: inline-block;
    margin: 0.5rem 0;
    border: solid 4px #918beb;
}

.response-wrapper {
    background-color: $color-primary;
    border: solid 4px #918beb;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.one-third {
grid-column: 1/2;
}

.two-thirds {
grid-column: 2/4;
}

#location-img {


    img {
    // width: 100%;
    border-radius: 50%;
    // max-width: 200px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    }
}