html {
    background-color: #ffe2d1;
    font-family: 'Roboto Mono', sans-serif;
}

main {
    width: calc(100vw - 40vw);
    margin: 0 auto;
    margin-bottom: 6rem;
}

input, textarea {
    background-color: #ffe2d1;
    border: solid 4px #b36f47;
    height: 2.3rem;
    min-width: 200px;
    width: calc(100% - 2rem - 8px);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem 0.5rem 0;
    font-size: 1rem;
    font-family: 'Roboto Mono', sans-serif;
}

::placeholder, input[type="text"] {
    font-family: 'Roboto Mono', sans-serif;
}

textarea {
    height: 5rem;
    width: calc(100% - 2rem - 8px);
    padding: 1rem;
}

label {
    text-transform: uppercase;
    margin-top: 2rem;
    display: inline-block;
}

.tipp {
    margin: 0 0 0rem 0;
    font-size: 0.8rem;
}

.content-wrapper {
    background-color: transparent;
    margin-top: 4rem;
    padding: 2rem;
    color: #3b7764;
    border: solid 4px #3b7764;
}

h2 {
    margin: 0;
    margin-bottom: 1rem;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1rem;
    color: #173b4a;
    border-bottom: solid 2px #173b4a;
    cursor: pointer;
}

.btn {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    border: 0;
    padding: 0.7rem 1rem 0.6rem 1rem;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;
}

.btn--primary {
    background-color: #ceecc3;
    color: #173b4a;
}

.btn--primary:hover {
    background-color: #f18983;
    color: #173b4a;
}

form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0px 30px;
    grid-template-areas:
    "top top top top top top top top top top top top"
    "left left left left left left right right right right right right"
    "main main main main main main main main main main main main"
    "button button button button button button button button button button button button"
    "cm cm cm cm cm cm cm cm cm cm cm cm";
}

.md-top {
    grid-area: top;
}

.md-left {
    grid-area: left;
}

.md-right {
    grid-area: right;
    width: auto;
}

.md-main {
    grid-area: main;
}

.md-comment {
    grid-area: cm;
}

.md-button {
    grid-area: button;
}